@media (width > 1500px) {
  body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.4rem; /*Storleken på datumen*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .aside-main-container {
    flex-direction: row;
    display: flex;
    height: calc(100vh - var(--header-height));
    align-items: center;
  }

  aside {
    width: 30%;
    height: 33rem;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    margin: 22px;
    border-radius: 10px;
    position: relative;
    padding-left: 10px;
    overflow-y: auto;
  }

  main {
    display: block;
    width: 70%;
  }

  header {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.2rem;
    color: white;
  }

  header h1 {
    font-size: 5rem;
  }

  .full-date-and-time {
    font-size: 2.5rem;
  }

  .current-time .clock {
    font-size: 4rem;
  }

  .todayTodoText {
    font-size: 2rem;
  }

  .todayTodoText {
    font-size: 2rem;
  }

  .create-todo-popup input,
  button {
    padding: 0.5rem 1rem;
  }

  .todo-input {
    width: 70%;
    margin-bottom: 0.3rem;
  }

  .todo-buttons {
    display: flex;
    margin-top: 4px;
    width: 28%;
  }

  .month-div {
    font-size: 1.4rem;
    padding: 15px;
    margin: 0 1.5rem;
    border-radius: 5px 5px 0 0;
  }

  .weekday-div-mobile {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0 1.5rem;
    padding-bottom: px;
    border-radius: 0 0 5px 5px;
  }

  .calendar li {
    width: 7.4rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    margin: 3px;
  }

  .calendar {
    gap: 1px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 22px;
  }

  .back-month-arrow {
    margin-right: 22rem;
  }

  .next-month-arrow {
    margin-left: 22rem;
  }

  .weekday {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .weekday-div {
    display: none;
  }

  .todoCountSpan {
    display: block; /*Visar antal todos i cellerna för desktop*/
    color: white;
    border-radius: 11px 11px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    background-color: black;
    width: 30px;
  }

  /*Uppdatera knappen*/
  .todoUpdate {
    margin-right: 8px;
    font-family: "Times New Roman", Times, serif;
  }

  /*Style för deleted knappen i todo*/
  .todoDeleted {
    font-family: "Times New Roman", Times, serif;
  }

  /* STYLE FÖR KNAPPEN "LÄGG TILL ANTECKNINGAR" SAMT INPUT */
  .create-todo-popup {
    border-radius: 10px;
    width: 90%;
    font-size: 1rem;
  }

  #todoList.todo-container {
    padding: 20px;
  }

  .redDay {
    color: rgb(177, 38, 38);
    font-weight: bolder;
    font-size: 1.2rem;
    padding: 10px;
  }

  .todoDate {
    color: white;
  }

  .todoListText {
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    font-family: "Cookie", cursive;
  }
}
