@media (width > 1024px) {
  .aside-main-container {
    flex-direction: row;
  }

  aside {
    width: 30%;
    min-width: 360px;
    border: 2px solid var(--Secondary-color);
  }

  main {
    display: block;
    width: 70%;
  }
}
